.hand{
    background-image:url("../../assets/images/pexels-cup-of-couple-8015784.jpg");
    background-position:center;
    background-size:cover;
    height:100vh;
}

.shampoo {
    background-image: url("../../assets/images/deneme.jpg");
    background-position: center;
    background-size: cover;
    height: 430px;
}

.custom-search{
    color:rgba(0,0,0,0.5)!important;
}

.custom-search:focus {
    box-shadow: 0 0 10px rgba(0,0,0,0.1) !important;
    border: rgba(0,0,0,0.1) !important;
    outline: rgba(0,0,0,0.1) !important;
}